.login-form {
  display: flex;
  flex-direction: column;
  border-left: 8px solid #ffe01b;
  padding: 12px;
  width: 33.33333333%;
}

.login-form__login-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  .login-form__login-wrap{
    width: 100%;
    max-width: 465px;
    margin: 0 auto;
    
  }
}

.login-form__title {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 300;
}

.login-form__info {
  margin-top: 32px;
  font-size: 18px;
}

.login-form__info--link {
  color: #007c89;
  border-bottom: 1px solid;
  cursor: pointer;
}

.login-form__info--link:hover {
  color: #015a64;
}